.studio-management-system-theme {
    --electro-pulse-red: #e10000;
    --gray-swan-500: #b4b4b4;
    --gray-swan-700: rgb(180, 180, 180, 0.6);

    --sms-colors-neutral-background: var(--gray-swan-700);
    --sms-colors-background: var(--gray-swan-500);
    --sms-colours-danger-zone: var(--electro-pulse-red);
}
