@import 'colors';

// Default theme
$theme-map-light: (
    $sms-color-background-brand: orange,
    $sms-color-background-brand-alt: pink,

    $sms-color-neutral-background: #cacaca,
    $sms-color-background: #f4f4f4,
    $sms-colour-danger-zone: #e10000
);

@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

// apply theming
:root {
    @include spread-map($theme-map-light);
}
