@import 'colors';

// Default theme
$theme-map-light: (
    $sms-color-subtle-blue: #7ab1dd,
    $sms-color-subtle-green: #80ad8b,

    $sms-color-background-brand: #e4671b,
    $sms-color-background-brand-alt: #cd4058,

    $sms-color-neutral-background: #cacaca,
    $sms-color-neutral-background-active: #acacac,
    $sms-color-background: #f4f4f4,
    $sms-colour-danger-zone: #e10000,

    // bind CDS mappings to our branding
    $cds-overrides--cds-border-interactive: var($sms-color-background-brand),
    $cds-overrides--cds-button-primary-active: var($sms-color-background-brand-alt),
    $cds-overrides--cds-button-primary-hover: var($sms-color-background-brand-alt),
    $cds-overrides--cds-button-primary: var($sms-color-background-brand),
    $cds-overrides--cds-focus: var($sms-color-background-brand)
);

@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

// apply theming
:root {
    @include spread-map($theme-map-light);
}
