# ignore the .idea (Rider) local editor configs

.idea/
*.DotSettings.user

# ignore visual studio local editor settings

.vs/*

# ignore the vscode local editor settings
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# sensitive and local dev data

.env
*.env
src/frontend/.certs/*
