@use '@carbon/react/scss/spacing' as *;

.admin-page {
    .admin-page__r1,
    .admin-page__r2,
    .admin-page__r3 {
        margin-bottom: $spacing-12;
    }

    .admin-page__r2,
    .admin-page__r3 {
        display: flex;
        column-gap: $spacing-12;
        // create a "tray" for tiles
        background-color: var($sms-color-background);
        padding: $spacing-06;
    }

    .admin-page__r2 {
        justify-content: space-between;
    }
}
