@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '../mixins' as *;


.dashboard-page__title{
    padding: $spacing-06;
    background: rgba(252, 252, 252);
    margin-bottom: $spacing-04;
}

.dashboard-page__content01{
    padding-bottom: $spacing-05;
}

.dashboard-page__heading {
    font-weight: 600;
}

.dashboard-page__content02{
    padding-bottom: $spacing-08;
}

.dashboard-page__hero{
    padding:  $spacing-04;
    background: rgba(252, 252, 252);
    margin-bottom: $spacing-04;
}

.dashboard-page__login {
    margin-top: $spacing-05;
}

.dashboard-page__logo {
    max-width: 100%;
    width: 100%;
}

.dashboard-page__p {
    margin-top: $spacing-06;
    @include breakpoint-between((320px + 1), md) {
        max-width: 75%;
    }
}

.dashboard-page__content02 > .dashboard-page__p {
    padding-bottom: $spacing-08;
}