@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '../mixins' as *;

.dashboard-page{
    min-height: 70vh;
    padding: $spacing-05;
    background: linear-gradient(.60turn, #0f4beb,transparent);
    background-color:#ff2305
}

.dashboard-page-title{
    padding: $spacing-06;
    border-radius:10px;
    background: rgba(252, 252, 252);
    margin-bottom: $spacing-04;
}

.dashboard-page__content01{
    padding-bottom: $spacing-05;
}

.dashboard-page__heading {
    font-weight: 600;
}

.dashboard-page__content02{
    padding-bottom: $spacing-08;
}

.dashboard-page-img{
    padding:  $spacing-04;
    border-radius:10px;
    background: rgba(252, 252, 252);
    margin-bottom: $spacing-04;
}

.dashboard-page__login {
    margin-top: $spacing-05;
}

.dashboard-page__logo {
    max-width: 100%;
    height: auto;
}

.dashboard-page__p {
    margin-top: $spacing-06;
    @include breakpoint-between((320px + 1), md) {
        max-width: 75%;
    }
}

.dashboard-page__content02 > .dashboard-page__p {
    padding-bottom: $spacing-08;
}