@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '../mixins' as *;

.loginClass {
    margin-left: 60px;
    margin-right: 60px;
    @include breakpoint-down(md) {
        margin-left: 0;
        margin-right: 0;
    }
}
