@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '../mixins' as *;

.mygroup-page {
    .mygroup-page__r1 {
        .mygroup-page__p {
            margin-top: $spacing-05;
            margin-bottom: $spacing-05;

            @include type-style('productive-heading-03');

            @include breakpoint-between((320px + 1), md) {
                max-width: 75%;
            }
        }

        .mygroup-page__heading {
            @include type-style('productive-heading-05');
        }
    }

    .mygroup-page__r2 {
        display: flex;
        flex-wrap: wrap;
        row-gap: $spacing-09;
        column-gap: $spacing-09;
        // create a "tray" for tiles
        background-color: var($sms-color-background);
        padding: $spacing-06;

        .project {
            filter: grayscale(1);
        }
        .project:hover {
            filter: grayscale(0);
        }

        .danger {
            border: 2px solid var($sms-colour-danger-zone);
        }

        label.mygroup--members-group-count > span {
            padding-right: $spacing-05;
        }
    }

    .mygroup-page__r1,
    .mygroup-page__r2 {
        margin-bottom: $spacing-12;
    }
}
