@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '../mixins' as *;

.projects-page__banner {
    padding: $spacing-06;
    background-color: rgba(252, 252, 252);
    margin-bottom: $spacing-06;
}

.projects-page__table {
    padding-left: $spacing-07;
}

.projects-page__p {
    margin-top: $spacing-05;
    margin-bottom: $spacing-05;
}

.projects-page__heading {
    @include type-style('productive-heading-05');
}

.projects-page__p {
    @include type-style('productive-heading-03');
    margin-top: $spacing-06;

    @include breakpoint-between((320px + 1), md) {
        max-width: 75%;
    }
}

.projects-page__datatable-row-detail {
    display: flex;
    column-gap: $spacing-06 * 4;
    padding-top: $spacing-06;
    padding-bottom: $spacing-06;

    .description {
        max-width: $spacing-07 * 10;
        min-width: $spacing-07 * 10;
    }

    p,
    h5 {
        @include contain-text();
        max-width: $spacing-07 * 10;
        min-width: $spacing-07 * 10;
    }

    .goto-action {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        width: 100%;
        padding-right: $spacing-05;
    }
}

.projects-page__datatable-row-detail li {
    margin-top: $spacing-03;
}
