.cds--accordion__content{
	padding-right: 0px !important;
}

.accordion-content{
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.accordion-content > div{
	justify-content: space-between;
	width: 50%;
    padding: 20px;
}

