@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '../mixins' as *;

.block-detail {
    justify-content: space-between;
    padding-right: $spacing-05;

    label,
    p {
        @include type-style('productive-heading-02');
        margin-top: $spacing-03;
        margin-bottom: $spacing-03;
    }

    p {
        @include contain-text();
        font-weight: 400;
    }
}
