@use '@carbon/react/scss/spacing' as *;
@use '../mixins' as *;

.simple-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var($sms-color-neutral-background);
    @include drop-shadow();

    button {
        display: flex;
        justify-content: space-between;
    }
}

.simple-card:hover {
    background-color: var($sms-color-neutral-background-active);
}

.simple-card--sm {
    padding: $spacing-05;
}

.simple-card--md {
    padding: $spacing-08;
}

.simple-card--lg {
    padding: $spacing-09;
}
