@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '../mixins' as *;

.statistic-box {
    $box-width: 300px;

    height: 200px;
    width: $box-width;

    @include sms-feature-background();

    &.blue {
        color: #000;
        background: unset;
        background-color: var($sms-color-subtle-blue);
    }

    &.green {
        color: #000;
        background: unset;
        background-color: var($sms-color-subtle-green);
    }

    .heading {
        height: 100%;

        h4 {
            @include type-style('heading-01');
        }

        label {
            @include type-style('body-compact-01');
        }
    }
}
