{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "tabs": "false"
}
